/* Your styles */
body {
    font-family: Arial, "sans-serif";
}
fieldset {
    border: none;
}
.todos {
    list-style-type: none;
}
.input-non-valid {
    background-color: palevioletred;
}
.input-valid {
    background-color: darkseagreen;
}
.delete {
    margin-left: 10px;
}
